body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#wrapper {
    flex: 1;
}

.validated_ul {
    list-style: inside;
    list-style-image: url(/assets/images/validated.png);
}

img[src~="bordered"] {
    border: 0.5px solid black;
}


img[src~="on-click-fullscreen"]:active {
    width: 100%;
}

ul {
    list-style: inside;
}


#checkbox_toggle {
    display: none;
}

#checkbox_toggle:checked~.navbar-menu {
    display: block;
}

/* Mobile */
@media only screen and (max-width: 1023px) {
    section {
        margin: 0 5%;
    }
    nav {
        margin: 1rem 1px 2rem;
    }
    body {
        zoom: 1.5;
    }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
    nav {
        padding:  3rem 0 4.5rem;
    }
    img[src~="is-40by30"] {
        width: 40%;
        height: 30%;
    }
}

.mb-7 {
    margin-bottom: 4.5rem;
}