---
layout: default
---
<section>
    <div class="container">
        <h1 class="title is-size-1 mb-0">{{ page.title }}</h1>
        <p class=" mb-6">{{ page.date | date_to_string }} - {{ page.author }}</p>
        {{ content }}
        {% if page.github %}
        <p>Ce projet a une page sur github. Si vous voulez la voir, cliquez <a href="{{ page.project_link }}"><b>ici!</b></a></p>
        {% else %}
        <p>En raison de la nature de ce projet, il n'a pas de page sur github. Si vous êtes intéréssés par le code source, veuillez me contacter avec les références en bas de page.</p>
        {% endif %}
    </div>
</section>